<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" > -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>updateTicket</servlet-name>
		<servlet-class>com.revature.UpdateTicketServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateTicket</servlet-name>
		<url-pattern>/updateTicket</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addTicket</servlet-name>
		<servlet-class>com.revature.AddTicketServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addTicket</servlet-name>
		<url-pattern>/addTicket</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteTicket</servlet-name>
		<servlet-class>com.revature.DeleteTicketServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteTicket</servlet-name>
		<url-pattern>/deleteTicket</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listTickets</servlet-name>
		<servlet-class>com.revature.ListTicketsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>listTickets</servlet-name>
		<url-pattern>/listTickets</url-pattern>
	</servlet-mapping>

</web-app>

